<h2>Мешок готовый льняной, ГОСТ 30090-93</h2>
<table>
    <tr>
        <th>Размер, см</th>
        <th>Поверхностная плотность, г/м2</th>
        <th>Число нитей на 10 см</th>
    </tr>
    <tr>
        <td>104х53</td>
        <td>425 (+/-25)</td>
        <td>69х63</td>
    </tr>
    <tr>
        <td>104х53</td>
        <td>360 (+/-20)</td>
        <td>49х60</td>
</table>
<p>Швейный цех ЗАО "Промцентр" изготавливает мешки, рукавицы, краги, тенты полога брезентовые любых размеров.</p>
<p> Вся наша продукция изготавливается только из качественного сырья с выполнением всех технологических норм.</p>
