<h2>Ткань мешочная, артикул 155-106/8-91</h2>
<table>
    <tr>
        <th>Ширина ткани, см</th>
        <th>Поверхностная плотность, г/м2</th>
        <th>Число нитей на 10 см</th>
    </tr>
    <tr>
        <td>106</td>
        <td>360 (+/-20)</td>
        <td>49x60</td>
    </tr>
    <tr>
        <td>106</td>
        <td>425 (+/-25)</td>
        <td>69х63</td>
</table>
<p>Ткани мешочные выпускаются согласно ГОСТ 30090-93.</p>

<p>По желанию заказчика ткань упаковывается в рулоны длиной 100 и 150 м.</p>
