<h2>Парусина полульняная суровая</h2>
<p>основа - хлопок, уток - лен или джут</p>
<table>
    <tr>
        <th>Ширина ткани, см</th>
        <th>Поверхностная плотность, г/м2</th>
        <th>Число нитей на 10 см</th>
    </tr>
    <tr>
        <td>92</td>
        <td>315 (+/-15)</td>
        <td>214/63</td>
    </tr>
    <tr>
        <td>110</td>
        <td>186 (+/-10)</td>
        <td>33х25</td>
    </tr>
    <tr>
        <td>110</td>
        <td>220 (+/-10)</td>
        <td>42х25</td>
    </tr>
    <tr>
        <td>110</td>
        <td>270 (+/-20)</td>
        <td>42х44</td>
    </tr>
</table>
<p>Ткани упаковочные выпускаются согласно ГОСТ 5530-2004.</p>

<p>По желанию заказчика ткань упаковывается в рулоны длиной 100 и 150 м.</p>

