<h2>Рукавицы брезентовые ОП</h2>
<table>
    <tr>
        <th>Артикул</th>
        <th>без брезентового наладонника</th>
        <th>с брезентовым наладонником</th>
        <th>Поверхностная плотность, г/м2</th>
    </tr>
    <tr>
        <td>11235</td>
        <td>+</td>
        <td>+</td>
        <td>390</td>
    </tr>
    <tr>
        <td>11255</td>
        <td>+</td>
        <td>+</td>
        <td>450</td>
    </tr>
    <tr>
        <td>11293</td>
        <td>+</td>
        <td>+</td>
        <td>480</td>
    </tr>
    <tr>
        <td>11292</td>
        <td>+</td>
        <td>+</td>
        <td>520</td>
    </tr>
    <tr>
</table>

<h2>Рукавицы х/б с брезентовым наладонником</h2>