<h2>Брезент ОП (с огнеупорной пропиткой)</h2>
<table>
    <tr>
        <th>Артикул</th>
        <th>Ширина ткани, см</th>
        <th>Поверхностная плотность, г/м2</th>
    </tr>
    <tr>
        <td>11235</td>
        <td>90</td>
        <td>400 (+/-20)</td>
    </tr>
    <tr>
        <td>11255</td>
        <td>90</td>
        <td>460 (+/-30)</td>
    </tr>
    <tr>
        <td>11293</td>
        <td>90</td>
        <td>480 (+/-30)</td>
    </tr>
    <tr>
        <td>11292</td>
        <td>90</td>
        <td>550 (+/-30)</td>
    </tr>
    <tr>
        <td>11252</td>
        <td>90</td>
        <td>590 (+/-30)</td>
    </tr>
</table>

<h2>Брезент ВО (с водоотталкивающей пропиткой)</h2>
<table>
    <tr>
        <th>Артикул</th>
        <th>Ширина ткани, см</th>
        <th>Поверхностная плотность, г/м2</th>
    </tr>
    <tr>
        <td>11255</td>
        <td>90</td>
        <td>400 (+/-20)</td>
    </tr>
    <tr>
        <td>11293</td>
        <td>90</td>
        <td>450 (+/-20)</td>
    </tr>
    <tr>
        <td>11292</td>
        <td>90</td>
        <td>520 (+/-20)</td>
    </tr>
</table>

<h2>Брезент СКПВ</h2>
<table>
    <tr>
        <th>Ширина ткани, см</th>
        <th>Поверхностная плотность, г/м2</th>
        <th>Число нитей на 10 см</th>
    </tr>
    <tr>
        <td>11252</td>
        <td>90</td>
        <td>560 (+/-20)</td>
</table>